html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: auto/1fr minmax(600px, 2fr) 1fr;
  grid-template-areas: '. main ';
}

.title {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
}

.subtitle {
  margin: 0;
}

.name {
  margin: 0cm 0cm 1cm 0cm;
  text-align: center;
}

.list {
  padding-left: 15px;
}

.list__item a {
  text-decoration: none;
  color: black;
}

.list__item a:hover {
  color: red;
}

.contacts__list {
  margin-left: auto;
}

.basic {
  background-image: url(./images/fon1.jpg);
  padding: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 1px 4px rgba(54, 54, 54, 0.3);
}

.main-photo-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-photo img {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 300px;
}

.name-and-contacts address {
  margin-top: -20px;
  margin-left: -10px;
}

.about__list {
  padding-left: 15px;
}

.about__aim-and-info {
  margin: 0;
}

.knowledge {
  display: grid;
  grid-template: auto 1fr / auto;
  grid-template-areas: 'title title' 'main-skills additional-skills';
}

.knowledge_title {
  grid-area: title;
}

.main-knowledge {
  justify-self: left;
}

.foreign_language {
  padding-bottom: 10px;
}

.footer {
  display: grid;
  grid-template: auto auto / auto;
  grid-template-areas: 'links' 'date';
  border-top: 2px solid rgba(59, 59, 59, 0.7);
}

.footer_links {
  display: flex;
  justify-content: space-around;
}

.footer_link {
  display: inline;
}

.footer_link_img {
  height: 30px;
}

.footer_link_rss {
  width: 50px;
}

.footer_date {
  place-self: center;
  font-weight: 700;
}
